@charset "UTF-8";

@font-face {
	  font-family: 'Interop';
	  src: url('https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-Regular.woff2')
	      format('woff2'),
	      url('https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-Regular.woff')
	      format('woff');
	  font-weight: normal;
	  font-style: normal;
	  font-display: block;
	}
	
*{margin: 0; padding: 0; font-family: 'Interop'; font-weight: 300; font-size: 18px;}

input[type="button"]{
	cursor: pointer;	
}

#main_div{
	width: 1000px;
	margin: 100px auto;
	margin-bottom: 150px;
	text-align: center;
}

#main_div hr{
	width: 980px;
	margin: 30px auto;
	background: #12B8BA;
}

#main_title{
	display: block;
	margin: 20px 0;
	font-size: 24px;
}	

#sub_title{
	display: block;
	margin-top: 10px;
	font-size: 18px;
}

#main_div input {
	border: 1px solid #E2E2E2;
	width: 320px;
	height: 40px;
	padding-left: 10px;
	padding-right: 10px;
}
	
#main_div{
	text-align: center;
}
#main_div table{
	width: 600px;
	margin: 0px auto;
}
#main_div table td{
	padding-bottom: 10px 0;
}

#main_div #pwd_btn,
#main_div #back_btn{
	width: 150px;
	height: 40px;
	margin-top: 20px;
	background-color: #12B8BA;
	color: white;
	border: none;