@charset "UTF-8";

@font-face {
	  font-family: 'Interop';
	  src: url('https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-Regular.woff2')
	      format('woff2'),
	      url('https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-Regular.woff')
	      format('woff');
	  font-weight: normal;
	  font-style: normal;
	  font-display: block;
}
	
*{margin: 0; padding: 0; font-family: 'Interop'; font-weight: 300; font-size: 18px;}

input[type="button"]{
	cursor: pointer;	
}

#main_div{
	width: 1000px;
	margin: 100px auto;
	margin-bottom: 150px;
	text-align: center;
}

#find_pwd_text{
	font-size: 24px;
}

#find_pwd_sub{
	font-size: 18px;
	color: gray;
}


#find_pwd_div input {
	display: block;
	border: 1px solid #E2E2E2;
	width: 400px;
	height: 50px;
	margin: 10px auto;
	padding-left: 10px;
	padding-right: 10px;
}

#pat_name, #pat_email, #input_number{
	margin-top: 30px;
}

#find_pwd_div #cert_btn,
#find_pwd_div #ok_btn {
	width: 420px;
	border: none;
	color: white;				
	background-color: #12B8BA;
}

#find_pwd_div #input_number {
	color:#3086C9;
	margin-top: 30px;
}