@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: auto;
}

.slider-container {
	width: 1600px;
	height: 459px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}

.slider {
	width: 100%;
	height: 100%;
}

.slider .slick-slide {
	height: 100%;
}

.slider img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* Slick 기본 dots 위치 조정 */
.slick-dots {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex !important;
	justify-content: center; /* 도트 가운데 정렬 */
	align-items: center;
	gap: 10px;
	z-index: 10;
	padding: 0;
	margin: 0;
	list-style: none;
	width: auto;
}

/* 각 dot 스타일 */
.slick-dots li button:before {
	font-size: 14px;
	color: #23507B;
	opacity: 1;
}

/* 활성 dot 스타일 */
.slick-dots li.slick-active button:before {
	color: #12B8BA;
}

/* 커스텀 네비게이션 버튼 */
.slider-btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
	z-index: 10;
}

.slider-btn.prev {
	left: 10px;
}

.slider-btn.next {
	right: 10px;
}

/* 관리자용 배너 삭제 버튼 */
.banner_master_button {
	position: absolute;
	top: 92%;
	right: 10px;
	border: none;
	padding: 10px;
	cursor: pointer;
	z-index: 100;
	transform: translateY(-50%);
}

.banner_master_button:hover {
	color: red;
}




