@charset "UTF-8";

/* 큰 틀 */
#container {
	width: 1000px;
	height: 800px;
	margin: 70px auto;
	position: relative;
}

#container p {
	font-size: 30px;
	font-weight: bold;
}

#calling_div table {
	border-collapse: collapse;
	width: 1000px;
	height: 350px;
	position: absolute;
	top: 120px;
	text-align: center;
	table-layout: fixed;
}

#calling_div table tr:first-child {
	border-bottom: 1px solid #ddd;
}

#calling_div table th {
	border-top: 2px solid #ddd;
}

#calling_div table td {
	border-bottom: 1px solid #ddd;
	padding: 20px;
}

/* 제목 a태그 */
#calling_div a {
	text-decoration: none;
	color: black;
}

.buttons {
	background: #3086C9;
	border: none;
	color: white;
	height: 50px;
	width: 70px;
	font-size: 14px;
	cursor: pointer;
}

.btn_search {
	background-color: #12B8BA;
	padding: 10px 20px;
	color: white;
	border: none;
	cursor: pointer;
}

#btn_delete {
	width: 100px;
	padding: 3px;
	position: absolute;
	right: 0;
	margin-top: 20px;
}

.alert_warning {
	color: #856404;
	background-color: #fff3cd;
	border: 1px solid #ffeeba;
	padding: 10px;
	margin: 20px auto 0; /* 가운데 정렬 */
	width: 1000px; /* 서치 컨테이너와 동일한 너비 */
	text-align: center;
	font-size: 18px;
	margin-top: 100px;
}